<div>
  <h1>Exercise 2:</h1>
</div>
<div *ngFor="let user of users">
  <h1 *ngIf="user.age > 20">{{user.firstName}} {{user.lastName}} {{user.age}}</h1>
</div>


<div>
  <h1>Exercise 3:</h1>
</div>


<app-user [userArray]="usersFromInterface"></app-user>
<!-- <div class="container-fluid">

  <form [formGroup]="usersReactiveForm">

    <div class="form-group">
      <label>Id</label>
      <input [class.is-invalid]="id?.invalid && id?.touched" formControlName="id" type="text" class="form-control">
      <div *ngIf="id?.invalid && id?.touched">
        <small *ngIf="id?.errors?.['required']" class="text-danger">Id Field is Required</small>
      </div>
    </div>
    
    <div class="form-group">
      <label>First Name</label>
      <input [class.is-invalid]="firstname?.invalid && firstname?.touched" formControlName="firstname" type="text" class="form-control">
      <div *ngIf="firstname?.invalid && firstname?.touched">
        <small *ngIf="firstname?.errors?.['required']" class="text-danger">First Name Field is Required</small>
        <small *ngIf="firstname?.errors?.['minlength']" class="text-danger">First Name Must Be At Least 3 Characters Long</small>
      </div>
    </div>
    
    <div class="form-group">
      <label>Last Name</label>
      <input [class.is-invalid]="lastname?.invalid && lastname?.touched" formControlName="lastname" type="text" class="form-control">
      <div *ngIf="lastname?.invalid && lastname?.touched">
        <small *ngIf="lastname?.errors?.['required']" class="text-danger">Last Name Field is Required</small>
        <small *ngIf="lastname?.errors?.['minlength']" class="text-danger">Last Name Must Be At Least 3 Characters Long</small>
      </div>
    </div>
    
    <div class="form-group">
      <label>Date of Birth</label>
      <input [class.is-invalid]="dateOfBirth?.invalid && dateOfBirth?.touched" formControlName="dateOfBirth" type="date" class="form-control">
      <div *ngIf="dateOfBirth?.invalid && dateOfBirth?.touched">
        <small *ngIf="dateOfBirth?.errors?.['required']" class="text-danger">Date Field is Required</small>
      </div>
    </div>
    
    <div class="form-group">
      <label>Phone Number</label>
      <input [class.is-invalid]="phoneNumber?.invalid && phoneNumber?.touched" formControlName="phoneNumber" type="text" class="form-control">
      <div *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
        <small *ngIf="phoneNumber?.errors?.['required']" class="text-danger">Phone Number Field is Required</small>
        <small *ngIf="phoneNumber?.errors?.['minlength']" class="text-danger">Phone Number Must Be At Least 9 Characters Long</small>
      </div>
    </div>
    
    <div class="form-group">
      <label>Email</label>
      <input [class.is-invalid]="email?.invalid && phoneNumber?.touched" formControlName="email" type="email" class="form-control">
      <div *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.['required']" class="text-danger">Email Field is Required</small>
        <small *ngIf="email?.errors?.['minlength']" class="text-danger">Username Must Be At Least 8 Characters Long</small>
      </div>
    </div>

  </form>

</div> -->

